@font-face {
  font-family: 'Bitter';
  font-weight: 400;
  src: url(./fonts/Bitter-Regular.woff2) format('woff2'),
    url(./fonts/Bitter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/Montserrat-Regular.woff2) format('woff2'),
    url(./fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/Montserrat-Medium.woff2) format('woff2'),
    url(./fonts/Montserrat-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/Montserrat-SemiBold.woff2) format('woff2'),
    url(./fonts/Montserrat-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url(./fonts/Montserrat-Bold.woff2) format('woff2'),
    url(./fonts/Montserrat-Bold.woff) format('woff');
}

:root {
  --color-text: #93918f;

  --font-family-default: 'Montserrat', sans-serif;
  --font-family-headline: 'Bitter', serif;

  --font-size-default: 16px;

  --line-height-default: 1.69;
}
